.catalog-filter-line{
	min-height: 65px;
	border: 1px solid #ececec;
	border-bottom: 4px solid  #3f3f3f;
	background-color: #f6f6f6;
	margin: 80px 0 35px;
}
.catalog-content{
	.section_title{
		text-align: left;
		font-size: 20px;
		font-weight: 500;
	}
}

.catalog-item{
	height: 348px;
	border: 1px solid #eaeaea;
	margin-bottom: 30px;
}