// новини

.news{
	background-color: #fff;
	border: 1px solid #eaeaea;
	min-height: 425px;
	margin-bottom: 30px;
	.news_img{
		height: 210px;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	.news_title{
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		height: 73px;
		padding: 0 15px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		a{
			color: @color_body;
			line-height: 73px;
			transition: all 0.4s;
			&:hover{
				text-decoration: none;
				color: @red;
			}
		}
	}
	.news_data-info{
		height: 33px;
		border: 1px solid #eaeaea;
		background-color: #f6f6f6;
		border-width: 1px 0 1px 0;
		display: flex;
		align-items: center;
		font-size: 12px;
		font-weight: 400;
		color: #aeaeae;
	}
	.news_data, .news_coment{
		width: 50%;
		text-align: center;
	}
	.news_data{
		border-right: 1px solid #eaeaea;
		&:before{
			content: "\f073";
			font-family: "FontAwesome";
			margin-right: 5px;
			font-size: 18px;
		}
	}
	.news_coment:before{
		content: "";
		margin-right: 5px;
		width: 19px;
		height: 17px;
		display: inline-block;
		vertical-align: middle;
		background-image: url(../img/icon/chat.png);
	}
	.news_content{
		padding: 30px 20px 20px;
	}
	.news_short_info{
		height: 60px;
		overflow: hidden;
		display: block;
		position: relative;
		p{
			margin-bottom: 0;
			height: 100%;
			overflow: hidden;
		}
	}
	.base_button{
		height: 30px !important;
		width: 130px !important;
		margin-top: 25px !important;
		margin-right: 0 !important;
		line-height: 28px !important;
		font-size: 10px !important;
		border: 1px solid #3f3f3f !important;
	}
}

.home_news{
	background-color: @color_news_home;
	.section_line span{
		background-color: @color_news_home;
	}
	.base_button{
		width: 174px;
		margin-top: 10px;
		.fa{
			margin-left: 10px;
		}
	}
}

.news_container{
	margin-bottom: 40px;
}

.news_paginator{
	padding-bottom: 110px;
}